.product {
  .header {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .custom-dropdown {
      min-width: 250px;
    }
  }
  .list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}