.product-detail {
  line-height: 1.5;
  padding: 24px;

  .carousel {
    .carousel .thumb.selected, .carousel .thumb:hover {
      border: 1px solid #b4b4b4;
    }

    .carousel .slide {
      background: #ffffff;
    }
  }

  @media only screen and (max-width: 600px) {
    .tab-pane {
      min-height: 300px !important;
    }

    .img-specification {
      max-width: 100% !important;
    }

    .mota {
      padding: 0 14px !important;
    }
  }

  .tab-pane {
    text-align: center;
    min-height: 800px
  }

  .img-specification {
    padding-bottom: 20px;
    max-width: 60%;
    height: auto
  }

  .price {
    color: red;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 10px;
  }

  .description {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .hotline {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
  }

  .version {
  }

  .line {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #d4b8b8;
  }

  .detail {
    //text-align: center;
  }

  .option-img {
    display: flex;
    justify-content: center;
  }

  .mota {
    padding: 0 100px
  }

  .custom-img {
    width: 200px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .ant-card-meta-description {
    color: red;
  }
}
